

/* navbar
#brand {
  color: white;
}
.navbar {
  background-color: #2e2f33;
  height: 65px;
  margin: 0;
  border-style: none;
  border-radius: 0;
}
#navButtons li a {
  font-family: "proxima_nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;
}
#downloadBtn {
  margin-right: 100px;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
  height:40px;
  width:224px;
  background-color: #96d600;
}

*/
/*Image Slides and container styles */
body, html {

}
#container {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.slide {
	height:100vh;
	width:100%;
	position:relative;
}
#slide-1{
	width:100%;
	height:100%;
}
.bcg {
	width:100%;
	height:100%;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*content */

.hsContent {
	left: 50%;
	top: 50%;
	height:20%;
	width:50%;
	position:absolute;
}
.hsContent h2 {
  color: #fff8de;
	padding: 10px 5px;
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 12px;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../images/startrails.jpeg')}
#slide-2 .bcg {background-image:url('../images/maxresdefault.jpg')}

/* Text Break styles */
.textBreak {
		margin:0;
		width: 100%;
		background: none;
    height: 300px;
    text-align: center
}
.textBreak h2 {
	top:120px;
}
