

/* navbar
#brand {
  color: white;
}
.navbar {
  background-color: #2e2f33;
  height: 65px;
  margin: 0;
  border-style: none;
  border-radius: 0;
}
#navButtons li a {
  font-family: "proxima_nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;
}
#downloadBtn {
  margin-right: 100px;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
  height:40px;
  width:224px;
  background-color: #96d600;
}

*/
/*Image Slides and container styles */
body, html {
height: 100%;
min-height: 100%;
width:100%;
background-color: #000000;
}
/* CSS */
.hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
		padding-left:100px;
		padding-top: 300px;
}
.hsContent {
    color: #DEE3E3;
    padding: 0 8%;
    text-align: center;
		color: white;
		position:absolute;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#slide-1 .bcg {background-image:url('../images/7439.jpg')}

#slide-3 .bcg {background-image:url('../images/charlotte-lost-in-translation-movie-hd-wallpaper-1920x1080-2461.jpg')}

/* Text Break styles */
#slide-2 .bcg {
    background: none;
    background-color: #f0f0f0;
    height: 300px;
    text-align: center
}
.hsContainer2 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		padding-left:200px;
		padding-top: 100px;
}
